/* MOBILE */
@media (max-width: 768px) {
  .construction-alert {
    font-size: 0.8em;
  }

  .view { padding-top: 100px;}

  #Models > a {
    grid-column-start: 2;
    margin: 20px 0;
  }

  .Model { width: 50vw; }

  #applicability > *, #sport > * { grid-column-start: 1; }

  #applicationsSpan, #sportSpan {
    width: 100%;

    justify-content: center;
  }

  #Contact > h1 { margin-top: 30px; }

  .mediaDiv {
    grid-column-start: 2;
    margin: 50px 0 0 0;
  }

  .address {
    grid-template-columns: 33% 33% 33%;
    width: 100vw;
  }

  .address > * {
    grid-row-start: 1;
    grid-row-end: 1;
  }

  #postalCode { justify-self: center; }

  .upperContainer {
    display: grid;
    grid-template-columns: auto auto;

    background-color: black;
  }

  .upperLogoD {
    width: 90vw;

    display: grid;
    flex-direction: row;
    justify-content: center;

    align-self: center;

    border-bottom: 2px solid white;
  }

  #upperLogo {
    height: 100px;

    object-fit: contain;
  }

  .hamburgerD {
    position: fixed;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    height: 100px;
    width: 100px;

    z-index: 100;
  }

  #hamburger {
    height: 30px;
    width: auto;

    object-fit: cover;
  }

  .mobile-nav-closed {
    width: 0;
    overflow-x: hidden;
  }
  .mobile-nav-opened { width: 50vw; }

  .navbar {
    position: fixed;
    left: 0;
    top: 0;

    transition: width 500ms;

    padding-top: 100px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    font-size: 1.1em;

    height: calc( 100vh - 100px );

    background-color: black;
  }

  .nav-item {
    text-decoration: none;
    margin: 20px;

    color: white;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: column;

    align-items: center;
    margin: 0;
  }

  .drop-item {
    margin: -4px 0 15px 0px;
    text-decoration: none;

    color: white;
  }

  .drop-content {
    /* position: absolute; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-left: 2px solid white;
    padding-left: 5px;

    transition: height 700ms ease;

    height: 0;
    overflow: hidden;
  }

  #drop-what {
    white-space: nowrap;
    overflow: visible;

    cursor: pointer;
  }

  .opened {
    height: calc(5 * (-4px + 1em + 15px) - 5px );
    margin-bottom: 25px;
  } /* Trochę hardcoded, ale działa */

    /* END Navbar */

  .backgroundImage {
    position: absolute;

    width: 100vw;
    height: 100%;

    object-fit: cover;

    opacity: 80%;

    z-index: 0;
  }

  #MainPage {
    height: 85vh;

    position: absolute;
    top: 0;
  }

  #Showroom {
    margin-top: 85vh;
    padding: 10px 0 0 0;

    height: auto;

    margin-bottom: 20vh;
  }

  #Models {
    margin: 50px 0px 0px 0px;
  }

  #Images { height: 50vh; }

  .sectionP {
    width: 90%;
    text-align: left;
  }

}
/* END MOBILE */
