/* ALWAYS */
* { text-align: center; }
.pointerCursor { cursor: pointer; }
.drop-item:hover { color: var(--orange); }
.nav-item:hover { color: var(--orange); }
/* END ALWAYS */

/* in construction */

.soon-div {
  pointer-events: none;

  position: absolute;

  padding: 5px 5px;

  font-family: dDin;
  color: var(--orange);

  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.5);
}
/* END in construction */


:root {
  --orange: #ff8500;
  --grey: black; /* #2c2c2c */
}

.loading-page {
  width: 100%;
  height: 100%;

  position: fixed;
  left: 0;
  top: 0;

  background-color: var(--orange);

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  z-index: 10;
}

.loading-page > img {
  position: absolute;

  width: auto;
  height: 20vh;

  top: calc(50vh - height/2 );
}

.loading-page > span {
  position: absolute;
  top: calc( 50vh + 20vh/2 ); /* 20vh is img above height */

  font-family: dDin;
  font-size: 5vw;
}

.loading-page > p {
  position: absolute;
  top: calc( 50vh + 20vh/2 + 5vw ); /* 5vh is span above font-size */

  width: 70%;

  font-family: dDin;
  font-size: 2em;
}

/* Fonts */
@font-face {
  font-family: dDin;
  src: url("resources/d-din/D-DIN.otf");
  font-style: normal;
}
@font-face {
  font-family: dDin-bold;
  src: url("resources/d-din/D-DIN-Bold.otf");
}
@font-face {
  font-family: dDin-italic;
  src: url("resources/d-din/D-DIN-Italic.otf");
}

/* END Fonts */

/* Whole views */
#body {
  background-color: var(--grey);

  position: absolute;
  top: 0px;
  left: 0px;

  z-index: -1;
}

.view, .small-view {
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 0;
  padding: 0;

  left: 0px;
  top: 0px;

  background-color: var(--grey);

}
.wholeWidthImage {
  width: 100%;
  object-fit: cover;
}
/* END Whole views */

/* Specyfic Views */

#Why {
  height: auto;
  margin-bottom: 100px;
}

#Models {
  position: relative;

  width: 100%;

  display: grid;
  grid-template-columns: auto auto auto;

  justify-content: space-around;

}

#Summarising, .whyD {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.whyD { margin-top: 50px; }

#Contact {
  object-fit: cover;

  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-image: url("resources/newsletterBg.jpg");
}

#applicabilityView, #sportView {
  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;

  z-index: 0;
}
/* END Specyfic views */

/* Inside Views */
.LogoD {
  width: 100%;
  height: auto;
}

#Logo {
  width: 40%;
  height: auto;

  position: relative;
  left: 3vw;
  top: 73vh;
}

.construction-alert {
  width: 100%;
  height: auto;

  position: absolute;

  display: flex;
  flex-direction: row;
  justify-content: center;

  align-items: center;

  top: 40vh;

  background-color: rgba(0,0,0,0.7);

}
.construction-alert > p {
  text-align: center;

  font-size: 1.5em;
  color: var(--orange);
}
  /* Navbar */

#upperLogo {
  height: 100px;

  object-fit: contain;
}

.upperContainer {
  width: 100%;

  position: fixed;
  top: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;

  align-items: center;

  z-index: 11;
}

.model-with-description {
    font-family: dDin;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
    align-items: center;
  }

#Contacts {

  /* display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; */

  display: grid;
  grid-template-columns: auto auto auto;
  align-items: center;

  width: 100%;
}
/* END Inside Views */

/* Singletons */
.Model {
  position: inherit;

  transition: all 800ms;
}

.Model:hover {
  transform-origin: center;

  transform: scale(1.2);
}

/* END Singletons */

/* Helping Classes */
.dinF {
  font-family: dDin;
  color: white;
}

.sectionH {
  font-size: 2em;
  font-size: normal;
}
/* END Helping Classes */

#applicability, #sport {
  display: grid;

  grid-template-columns: auto auto;

  align-items: center;
}

#applicability > *, #sport > * {
  justify-self: center;
}

#applicationsI {
  width: 20%;
  height: auto;

  min-width: 200px;
}

#sportI {
  width: 30%;
  height: auto;

  min-width: 200px;
}

#applicationsSpan, #sportSpan {
  display: flex;
  flex-direction: column;
  align-items: center;

  width: 80%;
}

#applicationsSpan > h3 {
  font-size: 2em;
}

#newsletter {
  padding: 20px;

  border: 3px solid white;
  border-radius: 40px;

  width: 300px;
}

#NewsletterForm {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

#mediaList {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 100%;
}

/* NewsletterGrid */

/* Media */
  /* Inactive */
#IGmedia {

  background-image: url("resources/picto/inactive/IG.png");
}

#FBmedia {
  background-image: url("resources/picto/inactive/FB.png");
}

#YTmedia {
  background-image: url("resources/picto/inactive/YT.png");
}
  /* ENDInactive */
  /* Active */
#IGmedia:hover {
  background-image: url("resources/picto/active/IG.png");
}

#FBmedia:hover {
  background-image: url("resources/picto/active/FB.png");
}

#YTmedia:hover {
  background-image: url("resources/picto/active/YT.png");
}
  /* END Active */
.mediaItem {
  background-size: 40px;
  background-repeat: no-repeat;

  width: 40px;
  height: 40px;
  margin: 10px;
}
/* END Media */

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
  padding: 10px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}

#submit {
  background-color: rgba(255, 255, 255, 0.5);
  border: 0px;
  border-radius: 5px;
}

#submit:active {
  background-color: rgba(100, 100, 100, 0.5);
  border: 0px;
  border-radius: 5px;
}

/* END NewsletterGrid */

.mediaDiv {
  display: flex;
  flex-direction: column;
  align-items: center;

  justify-self: center;

  width: 30%;
}

.address {
  display: grid;
  grid-template-rows: auto auto auto;
}

.subscribe {
  border-radius: 5px;
  border: 0px solid grey;
  background-color: rgba(255, 255, 255, 0.5);
}
