/* DESKTOP */
@media (min-width: 768px) {
  .upperLogoD { justify-content: flex-start; }
  #upperLogo { height: 100px; }

  #Contact > h1 {
    margin-top: 30px;
    margin-bottom: 200px;
  }

  #Contacts { flex-direction: row; }

  .hamburgerD { display: none; }

  .Model   {
    width: 25vw;
    height: auto;
  }

  #applicationsSpan { justify-self: start; }
  #sportSpan { justify-self: end; }

  .navbar {
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    font-size: 1.1em;

    width: 90vw;

    background-color: rgba(105, 105, 105, 0.5);
  }

  .nav-item {
    text-decoration: none;
    margin: 20px;

    color: white;
  }

  .nav-dropdown {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

    align-items: baseline;
    margin: 0;
  }

  .drop-item {
    margin: -4px 0 15px 0px;
    text-decoration: none;

    color: white;
  }

  .drop-content {
    /* position: absolute; */

    display: flex;
    flex-direction: column;
    justify-content: flex-start;

    border-left: 2px solid white;
    padding-left: 5px;

    transition: height 700ms ease;

    height: 0;
    overflow: hidden;
  }

  #drop-what {
    white-space: nowrap;
    overflow: visible;

    cursor: pointer;
  }

  .opened {
    height: calc(5 * (-4px + 1em + 15px) - 5px );
    margin-bottom: 25px;
  } /* Trochę hardcoded, ale działa */
    /* END Navbar */

  .backgroundImage {
    position: absolute;

    width: 100vw;
    height: 120vh;

    object-fit: cover;

    opacity: 80%;

    z-index: 0;
  }

  #MainPage {
    height: 120vh;

    position: absolute;
    top: 0;
  }

  #Showroom {
    margin-top: 120vh;
    padding: 10px 0 0 0;

    height: auto;

    margin-bottom: 20vh;
  }

  #Models {
    margin: 150px 0px 0px 0px;
  }

  .sectionP {
    width: 60%;
    text-align: left;
    font-size: 1.2em;
  }
}
/* END DESKTOP */
