/* ALWAYS */

* {
    text-align: center;
}

.pointerCursor {
    cursor: pointer;
}

/* END ALWAYS */


:root {
    --orange: #ff8500;
    --grey: rgb(21, 21, 21);;
    /* #2c2c2c */
}

.orange {
    color: var(--orange);
}

orange-span {
    color: var(--orange);
}


.loading-page {
    width: 100%;
    height: 100%;

    position: fixed;
    left: 0;
    top: 0;

    background-color: var(--orange);

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    z-index: 10;
}

.loading-page>img {
    position: absolute;

    width: auto;
    height: 20vh;

    top: calc(50vh - height/2);
}

.loading-page>span {
    position: absolute;
    top: calc(50vh + 20vh/2);
    /* 20vh is img above height */

    font-family: dDin;
    font-size: 5vw;
}

.loading-page>p {
    position: absolute;
    top: calc(50vh + 20vh/2 + 5vw);
    /* 5vh is span above font-size */

    width: 70%;

    font-family: dDin;
    font-size: 2em;
}

/* Fonts */
@font-face {
    font-family: dDin;
    src: url("../resources/d-din/D-DIN.otf");
    font-style: normal;
}

@font-face {
    font-family: dDin-bold;
    src: url("../resources/d-din/D-DIN-Bold.otf");
}

@font-face {
    font-family: dDin-italic;
    src: url("../resources/d-din/D-DIN-Italic.otf");
}

/* END Fonts */

/* Whole views */
#body {
    overflow-x: hidden;

    background-color: black;

    position: absolute;
    top: 0px;
    left: 0px;

    width: 100%;
    height: auto;

    z-index: -1;
}

.page {
    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 0;
    padding: 0;

    left: 0px;
    top: 0px;

    background-color: black;

}

/* END Whole views */

/* Navbar */

.upperLogoD {
    width: 90vw;
    height: 100px;

    display: flex;
    flex-direction: row;

    align-self: center;
    align-items: center;

    border-bottom: 2px solid white;
}

#upperLogo {
    max-height: 100px;

    object-fit: contain;
}

.upperContainer {
    width: 100%;

    position: fixed;
    top: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    align-items: center;

    background-color: black;

    z-index: 11;
}

/* END Navbar */

/* Show List */

.listContainer {
    margin-top: 130px;

    width: 100%;
    height: auto;

    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.listElement {
    width: 90%;

    margin: 30px 5%;

    border: solid 1px white;
    border-radius: 15px;

    background-color: var(--grey);
}

.listElementTitle {
    display: flex;
    flex-direction: column;
    font-size: 1.8em;
    font-weight: bold;
}

.listElementPrice {
    display: flex;
    flex-direction: column;
    font-size: 1.5em;
}

.listElementHeaderContainer {
    width: 100%;
    display: flex;
}

.listElementContent {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: flex-start;
}

.listElementItem {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.listElementImage {
    width: 100%;
    height: 300px;

    padding: 30px 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

.listElementButtonLink {
    background-color: var(--grey);
    color: white;
    border: 1px solid white;
    border-radius: 7px;

    padding: 10px;

    font-size: 1.2em;
}

.listElementButtonLink:hover {
    background-color: white;
    color: var(--grey);
    border: 1px solid var(--grey);
    border-radius: 7px;

    padding: 10px;

    font-size: 1.2em;
}
.listElementButtonLink a {
    color: white;
    text-decoration: none;
}

.listElementButtonLink a:hover {
    color: var(--grey);
    text-decoration: none;
}

.footer {
    font-size: 1.5em;
    margin: 30px 0 100px;
}

.footer a {
    font-size: 2em;
    text-decoration: none;
    color: var(--orange);
}

/* Description */
.listElementDescription {
    line-height: 150%;
    font-size: 1.2em;
}

/* As justified continuous text */
/* .listElementDescription {
    text-align: justify;
    text-justify: inter-word;
} */

/* As bullet lsit */
.listElementDescription ul li { text-align: left; }
/* END Description */

#listElement-0 { grid-row: 1; }
#listElement-1 { grid-row: 2; }
#listElement-2 { grid-row: 3; }
#listElement-3 { grid-row: 4; }

/* END Show List */

/* Helping Classes */
.dinF {
    font-family: dDin;
    color: white;
}

.sectionH {
    font-size: 2em;
    font-size: normal;
}

/* END Helping Classes */