@media (max-width: 768px) {
    .listElement {
        display: flex;
        flex-direction: column;
    }

    .listElementHeaderContainer {
        justify-content: center;
        flex-direction: column;
    }

    .listElementTitle {
       justify-content: center;
    }

    .listElementPrice {
        justify-content: center;
    }

    .listElementDescription {
        padding: 20px 30px 50px;
    }
}