body {
  background-color: black;
}

:root {
  --orange: #ff8500;
  --grey: black; /* #2c2c2c */
}

.body {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  position: absolute;
  top: 0;
  left: 0;

  height: 100%;
}

.leftBar {
  position: fixed;
  left: 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  height: 100%;

  background-color: black;

}

.left {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  height: 50%;

  z-index: -0.1;
}

.middleBar {
  margin-left: 120px;

  position: relative;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  width: 100%;

  background-color: black;

  z-index: 0;
}

/* Uniwersal package */
@font-face {
  font-family: dDin;
  src: url("../resources/d-din/D-DIN.otf");
}
@font-face {
  font-family: dDin-bold;
  src: url("../resources/d-din/D-DIN-Bold.otf");
}
@font-face {
  font-family: dDin-italic;
  src: url("../resources/d-din/D-DIN-Italic.otf");
}

.bold {
  font-family: dDin-bold;
  letter-spacing: 0.05em;
}

.italic {
  font-family: dDin-italic;
}

.dinF {
  font-family: dDin;
  color: white;
}
/* END Uniwersal package */

.textSpan {
  font-size: 1.2em;
}

.HorizontalLine {
  height: 2px;
  width: calc(100% - 50px);

  margin-left: 0;
  margin-bottom: 50px;
}

.upper-container {
  position: fixed;
  left: 0;
  margin-left: inherit;

  width: inherit;
  height: 100px;

  margin-bottom: 100px;

  background-color: black;
}

.picto-navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

  border-bottom: 1px solid white;

  width: 90%;

  height: 100%;
  margin-top: 30px;

  background-color: inherit;
}

.picto-nav-item:not(#logo):not(.vn) {
  width: 100%;
  height: 100%;

  object-fit: contain;
}

.forDescription {
  font-size: 1.1em;
  color: rgba(255, 255, 255, 0.3);

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  margin-bottom: 20px;
}

.forDescription:hover { color: #ff8500 }
.forDescription>p {
  margin: 0;
  height: 1em;
}

#goBack {
  align-items: center;
  margin: 20px;
}

#logo {
  background-size: contain;
  width: 200px;
}

/* Vartical navbar */

.vn > img {
  width: 50px;
  height: auto;
}

.leftVertNavSide {
  width: 40px;
  height: 40px;

  margin: 20px 0 0 40px;
}

.underNavbarSpan {
  width: 90%;

  position: absolute;
  left: 0;

  z-index: -1;
}

#d1LogoImg {
  display: block;

  margin-left: auto;
  margin-right: auto;

  width: 100px;
}

#d1Logo-paragraph {
  position: relative;
  top: 10px;
}
/* END vartical navbar */

/* Views */

@media (min-width: 951px) {
  #main-view {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
}

@media (max-width: 950px) {
    #main-view {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
  }
}

.view {
  margin-top: 200px;
  height: 100%;
}

/* END Views */

#trailerimg {
  width: 100%;
  min-width: 500px;
  max-width: 800px;

  margin-top: 0;
  object-fit: contain;
}

.hideOnChange {
  display: none;
}

#backArrow {
  width: 80px;
  height: 80px;
}

.subpage-button {
  width: 60px;
  height: 60px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


/* Gallery */
.gallery {
  position: absolute;
  left: 40vw;
  top: 0;

  align-items: center;

  z-index: -1;

  width: 60vw;
  transition: width 1s, opacity 500ms;

  overflow: hidden;

  opacity: 70%
}

.sub-gallery {
  margin: 0  0 100px 0;
}

.gallery-active {
  opacity: 100%;
}

.gallery-opened {
  transition: width 400ms;

  width: 80vw;
  opacity: 100%;
}

.gallery-item {
  height: 100vh;
}

.small-gallery-item {
  width: 50vw;
  height: 60vh;

  margin-left: 10vw;

  object-fit: cover;
}
/* END Gallery */

/* Floating Paragraph */
.floatingParagraph {
  width: calc(100% - margin-left);

  position: absolute;
  margin-left: 15px;
}
/* END Floating Paragraph */

h3 {
  color: var(--orange);
  font-size: 2em;
}

.h3 {

color: var(--orange);
font-size: 2em;
}

.sectionH {
  font-size: 2em;
  font-size: normal;
}
